
    <div class="share-container">
      <div class="share-icon twitter-share" style="display: none">
        <a href="">
       <div class="genericon genericon-twitter">
       <div class="share-text"> Tweet </div>
       </div>
        <div class="count"><div> </div></div>
        </a>
      </div>

      <div class="share-icon facebook-share" style="display: none">
        <a href="">
       <div class="genericon genericon-facebook-alt">
       <div class="share-text"> Share </div>
       </div>
        <div class="count"><div> </div></div>
        </a>
      </div>

      <div class="share-icon google-share" style="display: none">
        <a href="">
       <div class="genericon genericon-googleplus-alt">
       <div class="share-text"> Share </div>
       </div>
        <div class="count"><div> </div> </div>
        </a>
      </div>

      {{!-- Div used to provide a line break on small screens --}}
      <div class="line-break"> </div>

      <div class="share-icon linkedin-share" style="display: none">
        <a href="">
       <div class="genericon genericon-linkedin">
       <div class="share-text"> Share </div>
       </div>
        <div class="count"><div> </div></div>
        </a>
      </div>

      <div class="share-icon pinterest-share" style="display: none">
        <a href="">
       <div class="genericon genericon-pinterest">
       <div class="share-text"> Pin </div>
       </div>
        <div class="count"><div> </div></div>
        </a>
      </div>
    </div>
